<form [formGroup]="dataForm" class="lottery-form">
  <textarea
    name="lottery-participants"
    cols="30"
    rows="10"
    placeholder="Lucas 
Aylen 
..."
    class="lottery-participants"
    formControlName="participants"
    required
  ></textarea>
  <input
    type="number"
    placeholder="N° ganadores"
    class="m-3"
    formControlName="amount_participants"
  />
  <button (click)="submit()" class="btn btn-primary m-3 px-5 py-2">
    Sortear!
  </button>
</form>

<div *ngIf="error" class="alert alert-danger text-center" role="alert">
  ¡ Faltan participantes para esa cantidad de ganadores !
</div>

<app-winner
  *ngIf="winners"
  [winners]="[winners]"
  [error]="error"
  [amountParticipants]="amountParticipants"
></app-winner>
